@import "./assets/Styles/global.scss";

body {
  margin: 0;
  padding: 20px 50px;
  background-color: var(--primary);
  font-family: "Montserrat", sans-serif;
}
button {
  font-family: "Montserrat", sans-serif;
}
